
.cuadro-derecho {
    width: 800px; 
    height: 1920px; 
    background-color:antiquewhite;
  }

.subtitle2{
    margin-left: 100px;
    font-size: 45px;
    font-weight: bold;
    color:rgb(0, 0, 0)
}

.employes{
    margin-left: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bolder;
}